---
import Layout from '../../../layouts/EnLayout.astro';
---

<Layout title="Bruno's Portfolio">
  <main class="px-9 my-16">
    <h1 class="dark:text-gray-200">Ahorrapp</h1>
    <p class="text-gray-600 mt-3 text-3xl dark:text-gray-400">
      The easiest way to compare prices to improve your daily purchases.
    </p>
  </main>
  <section class="bg-red-50 h-52 rounded-xl flex flex-col items-center justify-center">
      <img src="/projects/ahorrapp/ahorrapp-logo.png" alt="Ahorrapp Logo" class="h-1/2">
      <img src="/projects/ahorrapp/ahorrapp-letters.png" alt="Ahorrap letters" class="w-64">
  </section>
  <section class="my-16 px-9">
    <h2 class="dark:text-gray-200">The Project</h2>
    <p class="my-5 text-lg dark:text-gray-200">This was Holberton's final project where we had to create a product from the idea in 5 weeks, in the team we came to Ahorrapp, where people could compare prices of their usual purchases in different supermarkets in order to improve their economy by getting the best prices.</p>
    <div>
      <!-- TODO fix demo -->
      <!-- <a href="#">Demo</a> -->
      <a href="https://github.com/Matilop15/Ahorrapp" target="_blank" class="underline dark:text-gray-200">Github</a>
    </div>
  </section>
  <section class="bg-red-50 flex items-center justify-center rounded-xl">
    <img src="/projects/ahorrapp.png" alt="" class="my-10 w-52 border-4 rounded-xl border-white">
  </section>
  <!-- TODO explain more -->
  <!-- TODO add more imgs -->
  <!-- <section class="my-16 px-9">
    <h2>El diseño</h2>
    <p class="my-5 text-lg">Creado con un diseño intuitivo y sencillo, adaptado a todas las pantallas</p>
  </section> -->
  <!-- <div class="flex justify-center items-center h-40 mb-16">
    <a href="#" class="text-2xl decoration-2 underline">Siguiente Projecto</a>
  </div> -->
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>